body {
    background: url('../images/background.jpg');
    font-family: 'Russo One', sans-serif;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: royalblue;
    padding: 20px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 54px;
    padding: 20px;
    margin: 10px 10px 0px 10px;
}
h2 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}
button {
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: royalblue;
}
#buttons-view {
    text-align: center;
}
#gif-form {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#add-gif {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    color: royalblue;
    background-color: white;
}
p {
    padding: 5px 5px 5px 0px;
    color: green;
}
span {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}